[Unit]
Description=Telegram catalog bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/tg-catalog-layered-final
Environment=PYTHONUNBUFFERED=1
ExecStart=/root/tg-catalog-layered-final/venv/bin/python main.py
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
